/*XD*/
.menu{
    background: darkcyan;
    text-align: center;
    font-size: 2em;
    padding: .5em;
    position: fixed;/*da el mismo resultado que con absolute
    pero se mantiene en el mismo lugar
    asi uno le haga scroll*/

    /*el fixed se ajusta al viewport*/

    width: 100%;
}

.title{
    margin: 0;
}

.text{
    font-size: 1em;
}

/*estas dos reglas serviran 
para cuadrar bien el menu*/
body{
    padding-top: 6em;
}
.menu{
    top: 0;
    /* bottom: 0; */
}